[Unit]
Description=Backup all git repos under /home/haytek/projects to Google Drive

[Service]
Type=oneshot
ExecStart=%h/projects/gdrive-sync/backup/gdrive-backup-all-repos.sh
